In [30]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import math 

from datetime import datetime

In [31]:
time_start = datetime.strptime('2022-12-01 00:00:00' , '%Y-%m-%d %H:%M:%S')
print(time_start)

2022-12-01 00:00:00

In [32]:
data = pd.read_csv('/Users/ilyalobanov/CMF MFT/Final/train.csv', index_col=0, header=[0, 1])
data.rename(
    columns={
        'Unnamed: 209_level_1': 'count',
        'Unnamed: 210_level_1': 'price',
    },
    level = 1,
    inplace = True
)
data.head()

timestamp_second bid_price_0                                                \
                     nunique       mean   median       std     min     max
0                          7  44.183379  44.1865  0.007340  44.171  44.190
1                          1  44.190000  44.1900  0.000000  44.190  44.190
2                          3  44.187467  44.1860  0.001767  44.186  44.190
3                          3  44.181038  44.1860  0.006993  44.173  44.188
4                          2  44.213095  44.2190  0.012474  44.188  44.219

timestamp_second                 bid_quantity_0          ...  \
                   first    last            sum nunique  ...
0                 44.171  44.190        25880.7       5  ...
1                 44.190  44.190           76.7       1  ...
2                 44.190  44.186          597.5       3  ...
3                 44.186  44.188         2062.8       2  ...
4                 44.188  44.219         6350.8       2  ...

timestamp_second sell_trade_quantity                                    count  \
                             nunique mean median std min max first last count
0                                  0  NaN    NaN NaN NaN NaN   NaN  NaN    66
1                                  0  NaN    NaN NaN NaN NaN   NaN  NaN    13
2                                  0  NaN    NaN NaN NaN NaN   NaN  NaN    15
3                                  0  NaN    NaN NaN NaN NaN   NaN  NaN    52
4                                  0  NaN    NaN NaN NaN NaN   NaN  NaN    21

timestamp_second    price
                    price
0                 44.2005
1                 44.2195
2                 44.2195
3                 44.2175
4                 44.2060

[5 rows x 210 columns]

In [33]:
len(data.index)

1300000

In [34]:
import datetime 

times = []
for i in range(len(data.index)):
    new_time = time_start + datetime.timedelta(seconds=i)
    times.append(new_time)

times

[datetime.datetime(2022, 12, 1, 0, 0),
 datetime.datetime(2022, 12, 1, 0, 0, 1),
 datetime.datetime(2022, 12, 1, 0, 0, 2),
 datetime.datetime(2022, 12, 1, 0, 0, 3),
 datetime.datetime(2022, 12, 1, 0, 0, 4),
 datetime.datetime(2022, 12, 1, 0, 0, 5),
 datetime.datetime(2022, 12, 1, 0, 0, 6),
 datetime.datetime(2022, 12, 1, 0, 0, 7),
 datetime.datetime(2022, 12, 1, 0, 0, 8),
 datetime.datetime(2022, 12, 1, 0, 0, 9),
 datetime.datetime(2022, 12, 1, 0, 0, 10),
 datetime.datetime(2022, 12, 1, 0, 0, 11),
 datetime.datetime(2022, 12, 1, 0, 0, 12),
 datetime.datetime(2022, 12, 1, 0, 0, 13),
 datetime.datetime(2022, 12, 1, 0, 0, 14),
 datetime.datetime(2022, 12, 1, 0, 0, 15),
 datetime.datetime(2022, 12, 1, 0, 0, 16),
 datetime.datetime(2022, 12, 1, 0, 0, 17),
 datetime.datetime(2022, 12, 1, 0, 0, 18),
 datetime.datetime(2022, 12, 1, 0, 0, 19),
 datetime.datetime(2022, 12, 1, 0, 0, 20),
 datetime.datetime(2022, 12, 1, 0, 0, 21),
 datetime.datetime(2022, 12, 1, 0, 0, 22),
 datetime.datetime(2022, 12, 1, 0, 0, 23),
 datetime.datetime(2022, 12, 1, 0, 0, 24),
 datetime.datetime(2022, 12, 1, 0, 0, 25),
 datetime.datetime(2022, 12, 1, 0, 0, 26),
 datetime.datetime(2022, 12, 1, 0, 0, 27),
 datetime.datetime(2022, 12, 1, 0, 0, 28),
 datetime.datetime(2022, 12, 1, 0, 0, 29),
 datetime.datetime(2022, 12, 1, 0, 0, 30),
 datetime.datetime(2022, 12, 1, 0, 0, 31),
 datetime.datetime(2022, 12, 1, 0, 0, 32),
 datetime.datetime(2022, 12, 1, 0, 0, 33),
 datetime.datetime(2022, 12, 1, 0, 0, 34),
 datetime.datetime(2022, 12, 1, 0, 0, 35),
 datetime.datetime(2022, 12, 1, 0, 0, 36),
 datetime.datetime(2022, 12, 1, 0, 0, 37),
 datetime.datetime(2022, 12, 1, 0, 0, 38),
 datetime.datetime(2022, 12, 1, 0, 0, 39),
 datetime.datetime(2022, 12, 1, 0, 0, 40),
 datetime.datetime(2022, 12, 1, 0, 0, 41),
 datetime.datetime(2022, 12, 1, 0, 0, 42),
 datetime.datetime(2022, 12, 1, 0, 0, 43),
 datetime.datetime(2022, 12, 1, 0, 0, 44),
 datetime.datetime(2022, 12, 1, 0, 0, 45),
 datetime.datetime(2022, 12, 1, 0, 0, 46),
 datetime.datetime(2022, 12, 1, 0, 0, 47),
 datetime.datetime(2022, 12, 1, 0, 0, 48),
 datetime.datetime(2022, 12, 1, 0, 0, 49),
 datetime.datetime(2022, 12, 1, 0, 0, 50),
 datetime.datetime(2022, 12, 1, 0, 0, 51),
 datetime.datetime(2022, 12, 1, 0, 0, 52),
 datetime.datetime(2022, 12, 1, 0, 0, 53),
 datetime.datetime(2022, 12, 1, 0, 0, 54),
 datetime.datetime(2022, 12, 1, 0, 0, 55),
 datetime.datetime(2022, 12, 1, 0, 0, 56),
 datetime.datetime(2022, 12, 1, 0, 0, 57),
 datetime.datetime(2022, 12, 1, 0, 0, 58),
 datetime.datetime(2022, 12, 1, 0, 0, 59),
 datetime.datetime(2022, 12, 1, 0, 1),
 datetime.datetime(2022, 12, 1, 0, 1, 1),
 datetime.datetime(2022, 12, 1, 0, 1, 2),
 datetime.datetime(2022, 12, 1, 0, 1, 3),
 datetime.datetime(2022, 12, 1, 0, 1, 4),
 datetime.datetime(2022, 12, 1, 0, 1, 5),
 datetime.datetime(2022, 12, 1, 0, 1, 6),
 datetime.datetime(2022, 12, 1, 0, 1, 7),
 datetime.datetime(2022, 12, 1, 0, 1, 8),
 datetime.datetime(2022, 12, 1, 0, 1, 9),
 datetime.datetime(2022, 12, 1, 0, 1, 10),
 datetime.datetime(2022, 12, 1, 0, 1, 11),
 datetime.datetime(2022, 12, 1, 0, 1, 12),
 datetime.datetime(2022, 12, 1, 0, 1, 13),
 datetime.datetime(2022, 12, 1, 0, 1, 14),
 datetime.datetime(2022, 12, 1, 0, 1, 15),
 datetime.datetime(2022, 12, 1, 0, 1, 16),
 datetime.datetime(2022, 12, 1, 0, 1, 17),
 datetime.datetime(2022, 12, 1, 0, 1, 18),
 datetime.datetime(2022, 12, 1, 0, 1, 19),
 datetime.datetime(2022, 12, 1, 0, 1, 20),
 datetime.datetime(2022, 12, 1, 0, 1, 21),
 datetime.datetime(2022, 12, 1, 0, 1, 22),
 datetime.datetime(2022, 12, 1, 0, 1, 23),
 datetime.datetime(2022, 12, 1, 0, 1, 24),
 datetime.datetime(2022, 12, 1, 0, 1, 25),
 datetime.datetime(2022, 12, 1, 0, 1, 26),
 datetime.datetime(2022, 12, 1, 0, 1, 27),
 datetime.datetime(2022, 12, 1, 0, 1, 28),
 datetime.datetime(2022, 12, 1, 0, 1, 29),
 datetime.datetime(2022, 12, 1, 0, 1, 30),
 datetime.datetime(2022, 12, 1, 0, 1, 31),
 datetime.datetime(2022, 12, 1, 0, 1, 32),
 datetime.datetime(2022, 12, 1, 0, 1, 33),
 datetime.datetime(2022, 12, 1, 0, 1, 34),
 datetime.datetime(2022, 12, 1, 0, 1, 35),
 datetime.datetime(2022, 12, 1, 0, 1, 36),
 datetime.datetime(2022, 12, 1, 0, 1, 37),
 datetime.datetime(2022, 12, 1, 0, 1, 38),
 datetime.datetime(2022, 12, 1, 0, 1, 39),
 datetime.datetime(2022, 12, 1, 0, 1, 40),
 datetime.datetime(2022, 12, 1, 0, 1, 41),
 datetime.datetime(2022, 12, 1, 0, 1, 42),
 datetime.datetime(2022, 12, 1, 0, 1, 43),
 datetime.datetime(2022, 12, 1, 0, 1, 44),
 datetime.datetime(2022, 12, 1, 0, 1, 45),
 datetime.datetime(2022, 12, 1, 0, 1, 46),
 datetime.datetime(2022, 12, 1, 0, 1, 47),
 datetime.datetime(2022, 12, 1, 0, 1, 48),
 datetime.datetime(2022, 12, 1, 0, 1, 49),
 datetime.datetime(2022, 12, 1, 0, 1, 50),
 datetime.datetime(2022, 12, 1, 0, 1, 51),
 datetime.datetime(2022, 12, 1, 0, 1, 52),
 datetime.datetime(2022, 12, 1, 0, 1, 53),
 datetime.datetime(2022, 12, 1, 0, 1, 54),
 datetime.datetime(2022, 12, 1, 0, 1, 55),
 datetime.datetime(2022, 12, 1, 0, 1, 56),
 datetime.datetime(2022, 12, 1, 0, 1, 57),
 datetime.datetime(2022, 12, 1, 0, 1, 58),
 datetime.datetime(2022, 12, 1, 0, 1, 59),
 datetime.datetime(2022, 12, 1, 0, 2),
 datetime.datetime(2022, 12, 1, 0, 2, 1),
 datetime.datetime(2022, 12, 1, 0, 2, 2),
 datetime.datetime(2022, 12, 1, 0, 2, 3),
 datetime.datetime(2022, 12, 1, 0, 2, 4),
 datetime.datetime(2022, 12, 1, 0, 2, 5),
 datetime.datetime(2022, 12, 1, 0, 2, 6),
 datetime.datetime(2022, 12, 1, 0, 2, 7),
 datetime.datetime(2022, 12, 1, 0, 2, 8),
 datetime.datetime(2022, 12, 1, 0, 2, 9),
 datetime.datetime(2022, 12, 1, 0, 2, 10),
 datetime.datetime(2022, 12, 1, 0, 2, 11),
 datetime.datetime(2022, 12, 1, 0, 2, 12),
 datetime.datetime(2022, 12, 1, 0, 2, 13),
 datetime.datetime(2022, 12, 1, 0, 2, 14),
 datetime.datetime(2022, 12, 1, 0, 2, 15),
 datetime.datetime(2022, 12, 1, 0, 2, 16),
 datetime.datetime(2022, 12, 1, 0, 2, 17),
 datetime.datetime(2022, 12, 1, 0, 2, 18),
 datetime.datetime(2022, 12, 1, 0, 2, 19),
 datetime.datetime(2022, 12, 1, 0, 2, 20),
 datetime.datetime(2022, 12, 1, 0, 2, 21),
 datetime.datetime(2022, 12, 1, 0, 2, 22),
 datetime.datetime(2022, 12, 1, 0, 2, 23),
 datetime.datetime(2022, 12, 1, 0, 2, 24),
 datetime.datetime(2022, 12, 1, 0, 2, 25),
 datetime.datetime(2022, 12, 1, 0, 2, 26),
 datetime.datetime(2022, 12, 1, 0, 2, 27),
 datetime.datetime(2022, 12, 1, 0, 2, 28),
 datetime.datetime(2022, 12, 1, 0, 2, 29),
 datetime.datetime(2022, 12, 1, 0, 2, 30),
 datetime.datetime(2022, 12, 1, 0, 2, 31),
 datetime.datetime(2022, 12, 1, 0, 2, 32),
 datetime.datetime(2022, 12, 1, 0, 2, 33),
 datetime.datetime(2022, 12, 1, 0, 2, 34),
 datetime.datetime(2022, 12, 1, 0, 2, 35),
 datetime.datetime(2022, 12, 1, 0, 2, 36),
 datetime.datetime(2022, 12, 1, 0, 2, 37),
 datetime.datetime(2022, 12, 1, 0, 2, 38),
 datetime.datetime(2022, 12, 1, 0, 2, 39),
 datetime.datetime(2022, 12, 1, 0, 2, 40),
 datetime.datetime(2022, 12, 1, 0, 2, 41),
 datetime.datetime(2022, 12, 1, 0, 2, 42),
 datetime.datetime(2022, 12, 1, 0, 2, 43),
 datetime.datetime(2022, 12, 1, 0, 2, 44),
 datetime.datetime(2022, 12, 1, 0, 2, 45),
 datetime.datetime(2022, 12, 1, 0, 2, 46),
 datetime.datetime(2022, 12, 1, 0, 2, 47),
 datetime.datetime(2022, 12, 1, 0, 2, 48),
 datetime.datetime(2022, 12, 1, 0, 2, 49),
 datetime.datetime(2022, 12, 1, 0, 2, 50),
 datetime.datetime(2022, 12, 1, 0, 2, 51),
 datetime.datetime(2022, 12, 1, 0, 2, 52),
 datetime.datetime(2022, 12, 1, 0, 2, 53),
 datetime.datetime(2022, 12, 1, 0, 2, 54),
 datetime.datetime(2022, 12, 1, 0, 2, 55),
 datetime.datetime(2022, 12, 1, 0, 2, 56),
 datetime.datetime(2022, 12, 1, 0, 2, 57),
 datetime.datetime(2022, 12, 1, 0, 2, 58),
 datetime.datetime(2022, 12, 1, 0, 2, 59),
 datetime.datetime(2022, 12, 1, 0, 3),
 datetime.datetime(2022, 12, 1, 0, 3, 1),
 datetime.datetime(2022, 12, 1, 0, 3, 2),
 datetime.datetime(2022, 12, 1, 0, 3, 3),
 datetime.datetime(2022, 12, 1, 0, 3, 4),
 datetime.datetime(2022, 12, 1, 0, 3, 5),
 datetime.datetime(2022, 12, 1, 0, 3, 6),
 datetime.datetime(2022, 12, 1, 0, 3, 7),
 datetime.datetime(2022, 12, 1, 0, 3, 8),
 datetime.datetime(2022, 12, 1, 0, 3, 9),
 datetime.datetime(2022, 12, 1, 0, 3, 10),
 datetime.datetime(2022, 12, 1, 0, 3, 11),
 datetime.datetime(2022, 12, 1, 0, 3, 12),
 datetime.datetime(2022, 12, 1, 0, 3, 13),
 datetime.datetime(2022, 12, 1, 0, 3, 14),
 datetime.datetime(2022, 12, 1, 0, 3, 15),
 datetime.datetime(2022, 12, 1, 0, 3, 16),
 datetime.datetime(2022, 12, 1, 0, 3, 17),
 datetime.datetime(2022, 12, 1, 0, 3, 18),
 datetime.datetime(2022, 12, 1, 0, 3, 19),
 datetime.datetime(2022, 12, 1, 0, 3, 20),
 datetime.datetime(2022, 12, 1, 0, 3, 21),
 datetime.datetime(2022, 12, 1, 0, 3, 22),
 datetime.datetime(2022, 12, 1, 0, 3, 23),
 datetime.datetime(2022, 12, 1, 0, 3, 24),
 datetime.datetime(2022, 12, 1, 0, 3, 25),
 datetime.datetime(2022, 12, 1, 0, 3, 26),
 datetime.datetime(2022, 12, 1, 0, 3, 27),
 datetime.datetime(2022, 12, 1, 0, 3, 28),
 datetime.datetime(2022, 12, 1, 0, 3, 29),
 datetime.datetime(2022, 12, 1, 0, 3, 30),
 datetime.datetime(2022, 12, 1, 0, 3, 31),
 datetime.datetime(2022, 12, 1, 0, 3, 32),
 datetime.datetime(2022, 12, 1, 0, 3, 33),
 datetime.datetime(2022, 12, 1, 0, 3, 34),
 datetime.datetime(2022, 12, 1, 0, 3, 35),
 datetime.datetime(2022, 12, 1, 0, 3, 36),
 datetime.datetime(2022, 12, 1, 0, 3, 37),
 datetime.datetime(2022, 12, 1, 0, 3, 38),
 datetime.datetime(2022, 12, 1, 0, 3, 39),
 datetime.datetime(2022, 12, 1, 0, 3, 40),
 datetime.datetime(2022, 12, 1, 0, 3, 41),
 datetime.datetime(2022, 12, 1, 0, 3, 42),
 datetime.datetime(2022, 12, 1, 0, 3, 43),
 datetime.datetime(2022, 12, 1, 0, 3, 44),
 datetime.datetime(2022, 12, 1, 0, 3, 45),
 datetime.datetime(2022, 12, 1, 0, 3, 46),
 datetime.datetime(2022, 12, 1, 0, 3, 47),
 datetime.datetime(2022, 12, 1, 0, 3, 48),
 datetime.datetime(2022, 12, 1, 0, 3, 49),
 datetime.datetime(2022, 12, 1, 0, 3, 50),
 datetime.datetime(2022, 12, 1, 0, 3, 51),
 datetime.datetime(2022, 12, 1, 0, 3, 52),
 datetime.datetime(2022, 12, 1, 0, 3, 53),
 datetime.datetime(2022, 12, 1, 0, 3, 54),
 datetime.datetime(2022, 12, 1, 0, 3, 55),
 datetime.datetime(2022, 12, 1, 0, 3, 56),
 datetime.datetime(2022, 12, 1, 0, 3, 57),
 datetime.datetime(2022, 12, 1, 0, 3, 58),
 datetime.datetime(2022, 12, 1, 0, 3, 59),
 datetime.datetime(2022, 12, 1, 0, 4),
 datetime.datetime(2022, 12, 1, 0, 4, 1),
 datetime.datetime(2022, 12, 1, 0, 4, 2),
 datetime.datetime(2022, 12, 1, 0, 4, 3),
 datetime.datetime(2022, 12, 1, 0, 4, 4),
 datetime.datetime(2022, 12, 1, 0, 4, 5),
 datetime.datetime(2022, 12, 1, 0, 4, 6),
 datetime.datetime(2022, 12, 1, 0, 4, 7),
 datetime.datetime(2022, 12, 1, 0, 4, 8),
 datetime.datetime(2022, 12, 1, 0, 4, 9),
 datetime.datetime(2022, 12, 1, 0, 4, 10),
 datetime.datetime(2022, 12, 1, 0, 4, 11),
 datetime.datetime(2022, 12, 1, 0, 4, 12),
 datetime.datetime(2022, 12, 1, 0, 4, 13),
 datetime.datetime(2022, 12, 1, 0, 4, 14),
 datetime.datetime(2022, 12, 1, 0, 4, 15),
 datetime.datetime(2022, 12, 1, 0, 4, 16),
 datetime.datetime(2022, 12, 1, 0, 4, 17),
 datetime.datetime(2022, 12, 1, 0, 4, 18),
 datetime.datetime(2022, 12, 1, 0, 4, 19),
 datetime.datetime(2022, 12, 1, 0, 4, 20),
 datetime.datetime(2022, 12, 1, 0, 4, 21),
 datetime.datetime(2022, 12, 1, 0, 4, 22),
 datetime.datetime(2022, 12, 1, 0, 4, 23),
 datetime.datetime(2022, 12, 1, 0, 4, 24),
 datetime.datetime(2022, 12, 1, 0, 4, 25),
 datetime.datetime(2022, 12, 1, 0, 4, 26),
 datetime.datetime(2022, 12, 1, 0, 4, 27),
 datetime.datetime(2022, 12, 1, 0, 4, 28),
 datetime.datetime(2022, 12, 1, 0, 4, 29),
 datetime.datetime(2022, 12, 1, 0, 4, 30),
 datetime.datetime(2022, 12, 1, 0, 4, 31),
 datetime.datetime(2022, 12, 1, 0, 4, 32),
 datetime.datetime(2022, 12, 1, 0, 4, 33),
 datetime.datetime(2022, 12, 1, 0, 4, 34),
 datetime.datetime(2022, 12, 1, 0, 4, 35),
 datetime.datetime(2022, 12, 1, 0, 4, 36),
 datetime.datetime(2022, 12, 1, 0, 4, 37),
 datetime.datetime(2022, 12, 1, 0, 4, 38),
 datetime.datetime(2022, 12, 1, 0, 4, 39),
 datetime.datetime(2022, 12, 1, 0, 4, 40),
 datetime.datetime(2022, 12, 1, 0, 4, 41),
 datetime.datetime(2022, 12, 1, 0, 4, 42),
 datetime.datetime(2022, 12, 1, 0, 4, 43),
 datetime.datetime(2022, 12, 1, 0, 4, 44),
 datetime.datetime(2022, 12, 1, 0, 4, 45),
 datetime.datetime(2022, 12, 1, 0, 4, 46),
 datetime.datetime(2022, 12, 1, 0, 4, 47),
 datetime.datetime(2022, 12, 1, 0, 4, 48),
 datetime.datetime(2022, 12, 1, 0, 4, 49),
 datetime.datetime(2022, 12, 1, 0, 4, 50),
 datetime.datetime(2022, 12, 1, 0, 4, 51),
 datetime.datetime(2022, 12, 1, 0, 4, 52),
 datetime.datetime(2022, 12, 1, 0, 4, 53),
 datetime.datetime(2022, 12, 1, 0, 4, 54),
 datetime.datetime(2022, 12, 1, 0, 4, 55),
 datetime.datetime(2022, 12, 1, 0, 4, 56),
 datetime.datetime(2022, 12, 1, 0, 4, 57),
 datetime.datetime(2022, 12, 1, 0, 4, 58),
 datetime.datetime(2022, 12, 1, 0, 4, 59),
 datetime.datetime(2022, 12, 1, 0, 5),
 datetime.datetime(2022, 12, 1, 0, 5, 1),
 datetime.datetime(2022, 12, 1, 0, 5, 2),
 datetime.datetime(2022, 12, 1, 0, 5, 3),
 datetime.datetime(2022, 12, 1, 0, 5, 4),
 datetime.datetime(2022, 12, 1, 0, 5, 5),
 datetime.datetime(2022, 12, 1, 0, 5, 6),
 datetime.datetime(2022, 12, 1, 0, 5, 7),
 datetime.datetime(2022, 12, 1, 0, 5, 8),
 datetime.datetime(2022, 12, 1, 0, 5, 9),
 datetime.datetime(2022, 12, 1, 0, 5, 10),
 datetime.datetime(2022, 12, 1, 0, 5, 11),
 datetime.datetime(2022, 12, 1, 0, 5, 12),
 datetime.datetime(2022, 12, 1, 0, 5, 13),
 datetime.datetime(2022, 12, 1, 0, 5, 14),
 datetime.datetime(2022, 12, 1, 0, 5, 15),
 datetime.datetime(2022, 12, 1, 0, 5, 16),
 datetime.datetime(2022, 12, 1, 0, 5, 17),
 datetime.datetime(2022, 12, 1, 0, 5, 18),
 datetime.datetime(2022, 12, 1, 0, 5, 19),
 datetime.datetime(2022, 12, 1, 0, 5, 20),
 datetime.datetime(2022, 12, 1, 0, 5, 21),
 datetime.datetime(2022, 12, 1, 0, 5, 22),
 datetime.datetime(2022, 12, 1, 0, 5, 23),
 datetime.datetime(2022, 12, 1, 0, 5, 24),
 datetime.datetime(2022, 12, 1, 0, 5, 25),
 datetime.datetime(2022, 12, 1, 0, 5, 26),
 datetime.datetime(2022, 12, 1, 0, 5, 27),
 datetime.datetime(2022, 12, 1, 0, 5, 28),
 datetime.datetime(2022, 12, 1, 0, 5, 29),
 datetime.datetime(2022, 12, 1, 0, 5, 30),
 datetime.datetime(2022, 12, 1, 0, 5, 31),
 datetime.datetime(2022, 12, 1, 0, 5, 32),
 datetime.datetime(2022, 12, 1, 0, 5, 33),
 datetime.datetime(2022, 12, 1, 0, 5, 34),
 datetime.datetime(2022, 12, 1, 0, 5, 35),
 datetime.datetime(2022, 12, 1, 0, 5, 36),
 datetime.datetime(2022, 12, 1, 0, 5, 37),
 datetime.datetime(2022, 12, 1, 0, 5, 38),
 datetime.datetime(2022, 12, 1, 0, 5, 39),
 datetime.datetime(2022, 12, 1, 0, 5, 40),
 datetime.datetime(2022, 12, 1, 0, 5, 41),
 datetime.datetime(2022, 12, 1, 0, 5, 42),
 datetime.datetime(2022, 12, 1, 0, 5, 43),
 datetime.datetime(2022, 12, 1, 0, 5, 44),
 datetime.datetime(2022, 12, 1, 0, 5, 45),
 datetime.datetime(2022, 12, 1, 0, 5, 46),
 datetime.datetime(2022, 12, 1, 0, 5, 47),
 datetime.datetime(2022, 12, 1, 0, 5, 48),
 datetime.datetime(2022, 12, 1, 0, 5, 49),
 datetime.datetime(2022, 12, 1, 0, 5, 50),
 datetime.datetime(2022, 12, 1, 0, 5, 51),
 datetime.datetime(2022, 12, 1, 0, 5, 52),
 datetime.datetime(2022, 12, 1, 0, 5, 53),
 datetime.datetime(2022, 12, 1, 0, 5, 54),
 datetime.datetime(2022, 12, 1, 0, 5, 55),
 datetime.datetime(2022, 12, 1, 0, 5, 56),
 datetime.datetime(2022, 12, 1, 0, 5, 57),
 datetime.datetime(2022, 12, 1, 0, 5, 58),
 datetime.datetime(2022, 12, 1, 0, 5, 59),
 datetime.datetime(2022, 12, 1, 0, 6),
 datetime.datetime(2022, 12, 1, 0, 6, 1),
 datetime.datetime(2022, 12, 1, 0, 6, 2),
 datetime.datetime(2022, 12, 1, 0, 6, 3),
 datetime.datetime(2022, 12, 1, 0, 6, 4),
 datetime.datetime(2022, 12, 1, 0, 6, 5),
 datetime.datetime(2022, 12, 1, 0, 6, 6),
 datetime.datetime(2022, 12, 1, 0, 6, 7),
 datetime.datetime(2022, 12, 1, 0, 6, 8),
 datetime.datetime(2022, 12, 1, 0, 6, 9),
 datetime.datetime(2022, 12, 1, 0, 6, 10),
 datetime.datetime(2022, 12, 1, 0, 6, 11),
 datetime.datetime(2022, 12, 1, 0, 6, 12),
 datetime.datetime(2022, 12, 1, 0, 6, 13),
 datetime.datetime(2022, 12, 1, 0, 6, 14),
 datetime.datetime(2022, 12, 1, 0, 6, 15),
 datetime.datetime(2022, 12, 1, 0, 6, 16),
 datetime.datetime(2022, 12, 1, 0, 6, 17),
 datetime.datetime(2022, 12, 1, 0, 6, 18),
 datetime.datetime(2022, 12, 1, 0, 6, 19),
 datetime.datetime(2022, 12, 1, 0, 6, 20),
 datetime.datetime(2022, 12, 1, 0, 6, 21),
 datetime.datetime(2022, 12, 1, 0, 6, 22),
 datetime.datetime(2022, 12, 1, 0, 6, 23),
 datetime.datetime(2022, 12, 1, 0, 6, 24),
 datetime.datetime(2022, 12, 1, 0, 6, 25),
 datetime.datetime(2022, 12, 1, 0, 6, 26),
 datetime.datetime(2022, 12, 1, 0, 6, 27),
 datetime.datetime(2022, 12, 1, 0, 6, 28),
 datetime.datetime(2022, 12, 1, 0, 6, 29),
 datetime.datetime(2022, 12, 1, 0, 6, 30),
 datetime.datetime(2022, 12, 1, 0, 6, 31),
 datetime.datetime(2022, 12, 1, 0, 6, 32),
 datetime.datetime(2022, 12, 1, 0, 6, 33),
 datetime.datetime(2022, 12, 1, 0, 6, 34),
 datetime.datetime(2022, 12, 1, 0, 6, 35),
 datetime.datetime(2022, 12, 1, 0, 6, 36),
 datetime.datetime(2022, 12, 1, 0, 6, 37),
 datetime.datetime(2022, 12, 1, 0, 6, 38),
 datetime.datetime(2022, 12, 1, 0, 6, 39),
 datetime.datetime(2022, 12, 1, 0, 6, 40),
 datetime.datetime(2022, 12, 1, 0, 6, 41),
 datetime.datetime(2022, 12, 1, 0, 6, 42),
 datetime.datetime(2022, 12, 1, 0, 6, 43),
 datetime.datetime(2022, 12, 1, 0, 6, 44),
 datetime.datetime(2022, 12, 1, 0, 6, 45),
 datetime.datetime(2022, 12, 1, 0, 6, 46),
 datetime.datetime(2022, 12, 1, 0, 6, 47),
 datetime.datetime(2022, 12, 1, 0, 6, 48),
 datetime.datetime(2022, 12, 1, 0, 6, 49),
 datetime.datetime(2022, 12, 1, 0, 6, 50),
 datetime.datetime(2022, 12, 1, 0, 6, 51),
 datetime.datetime(2022, 12, 1, 0, 6, 52),
 datetime.datetime(2022, 12, 1, 0, 6, 53),
 datetime.datetime(2022, 12, 1, 0, 6, 54),
 datetime.datetime(2022, 12, 1, 0, 6, 55),
 datetime.datetime(2022, 12, 1, 0, 6, 56),
 datetime.datetime(2022, 12, 1, 0, 6, 57),
 datetime.datetime(2022, 12, 1, 0, 6, 58),
 datetime.datetime(2022, 12, 1, 0, 6, 59),
 datetime.datetime(2022, 12, 1, 0, 7),
 datetime.datetime(2022, 12, 1, 0, 7, 1),
 datetime.datetime(2022, 12, 1, 0, 7, 2),
 datetime.datetime(2022, 12, 1, 0, 7, 3),
 datetime.datetime(2022, 12, 1, 0, 7, 4),
 datetime.datetime(2022, 12, 1, 0, 7, 5),
 datetime.datetime(2022, 12, 1, 0, 7, 6),
 datetime.datetime(2022, 12, 1, 0, 7, 7),
 datetime.datetime(2022, 12, 1, 0, 7, 8),
 datetime.datetime(2022, 12, 1, 0, 7, 9),
 datetime.datetime(2022, 12, 1, 0, 7, 10),
 datetime.datetime(2022, 12, 1, 0, 7, 11),
 datetime.datetime(2022, 12, 1, 0, 7, 12),
 datetime.datetime(2022, 12, 1, 0, 7, 13),
 datetime.datetime(2022, 12, 1, 0, 7, 14),
 datetime.datetime(2022, 12, 1, 0, 7, 15),
 datetime.datetime(2022, 12, 1, 0, 7, 16),
 datetime.datetime(2022, 12, 1, 0, 7, 17),
 datetime.datetime(2022, 12, 1, 0, 7, 18),
 datetime.datetime(2022, 12, 1, 0, 7, 19),
 datetime.datetime(2022, 12, 1, 0, 7, 20),
 datetime.datetime(2022, 12, 1, 0, 7, 21),
 datetime.datetime(2022, 12, 1, 0, 7, 22),
 datetime.datetime(2022, 12, 1, 0, 7, 23),
 datetime.datetime(2022, 12, 1, 0, 7, 24),
 datetime.datetime(2022, 12, 1, 0, 7, 25),
 datetime.datetime(2022, 12, 1, 0, 7, 26),
 datetime.datetime(2022, 12, 1, 0, 7, 27),
 datetime.datetime(2022, 12, 1, 0, 7, 28),
 datetime.datetime(2022, 12, 1, 0, 7, 29),
 datetime.datetime(2022, 12, 1, 0, 7, 30),
 datetime.datetime(2022, 12, 1, 0, 7, 31),
 datetime.datetime(2022, 12, 1, 0, 7, 32),
 datetime.datetime(2022, 12, 1, 0, 7, 33),
 datetime.datetime(2022, 12, 1, 0, 7, 34),
 datetime.datetime(2022, 12, 1, 0, 7, 35),
 datetime.datetime(2022, 12, 1, 0, 7, 36),
 datetime.datetime(2022, 12, 1, 0, 7, 37),
 datetime.datetime(2022, 12, 1, 0, 7, 38),
 datetime.datetime(2022, 12, 1, 0, 7, 39),
 datetime.datetime(2022, 12, 1, 0, 7, 40),
 datetime.datetime(2022, 12, 1, 0, 7, 41),
 datetime.datetime(2022, 12, 1, 0, 7, 42),
 datetime.datetime(2022, 12, 1, 0, 7, 43),
 datetime.datetime(2022, 12, 1, 0, 7, 44),
 datetime.datetime(2022, 12, 1, 0, 7, 45),
 datetime.datetime(2022, 12, 1, 0, 7, 46),

In [35]:
data.index = times
data.head()

timestamp_second    bid_price_0                                                \
                        nunique       mean   median       std     min     max
2022-12-01 00:00:00           7  44.183379  44.1865  0.007340  44.171  44.190
2022-12-01 00:00:01           1  44.190000  44.1900  0.000000  44.190  44.190
2022-12-01 00:00:02           3  44.187467  44.1860  0.001767  44.186  44.190
2022-12-01 00:00:03           3  44.181038  44.1860  0.006993  44.173  44.188
2022-12-01 00:00:04           2  44.213095  44.2190  0.012474  44.188  44.219

timestamp_second                    bid_quantity_0          ...  \
                      first    last            sum nunique  ...
2022-12-01 00:00:00  44.171  44.190        25880.7       5  ...
2022-12-01 00:00:01  44.190  44.190           76.7       1  ...
2022-12-01 00:00:02  44.190  44.186          597.5       3  ...
2022-12-01 00:00:03  44.186  44.188         2062.8       2  ...
2022-12-01 00:00:04  44.188  44.219         6350.8       2  ...

timestamp_second    sell_trade_quantity                                     \
                                nunique mean median std min max first last
2022-12-01 00:00:00                   0  NaN    NaN NaN NaN NaN   NaN  NaN
2022-12-01 00:00:01                   0  NaN    NaN NaN NaN NaN   NaN  NaN
2022-12-01 00:00:02                   0  NaN    NaN NaN NaN NaN   NaN  NaN
2022-12-01 00:00:03                   0  NaN    NaN NaN NaN NaN   NaN  NaN
2022-12-01 00:00:04                   0  NaN    NaN NaN NaN NaN   NaN  NaN

timestamp_second    count    price
                    count    price
2022-12-01 00:00:00    66  44.2005
2022-12-01 00:00:01    13  44.2195
2022-12-01 00:00:02    15  44.2195
2022-12-01 00:00:03    52  44.2175
2022-12-01 00:00:04    21  44.2060

[5 rows x 210 columns]

In [7]:
data.columns[-40:]

MultiIndex([(    'buy_trade_price',   'count'),
            (    'buy_trade_price', 'nunique'),
            (    'buy_trade_price',    'mean'),
            (    'buy_trade_price',  'median'),
            (    'buy_trade_price',     'std'),
            (    'buy_trade_price',     'min'),
            (    'buy_trade_price',     'max'),
            (    'buy_trade_price',   'first'),
            (    'buy_trade_price',    'last'),
            ( 'buy_trade_quantity',   'count'),
            ( 'buy_trade_quantity',     'sum'),
            ( 'buy_trade_quantity', 'nunique'),
            ( 'buy_trade_quantity',    'mean'),
            ( 'buy_trade_quantity',  'median'),
            ( 'buy_trade_quantity',     'std'),
            ( 'buy_trade_quantity',     'min'),
            ( 'buy_trade_quantity',     'max'),
            ( 'buy_trade_quantity',   'first'),
            ( 'buy_trade_quantity',    'last'),
            (   'sell_trade_price',   'count'),
            (   'sell_trade_price', 'nunique'),
            (   'sell_trade_price',    'mean'),
            (   'sell_trade_price',  'median'),
            (   'sell_trade_price',     'std'),
            (   'sell_trade_price',     'min'),
            (   'sell_trade_price',     'max'),
            (   'sell_trade_price',   'first'),
            (   'sell_trade_price',    'last'),
            ('sell_trade_quantity',   'count'),
            ('sell_trade_quantity',     'sum'),
            ('sell_trade_quantity', 'nunique'),
            ('sell_trade_quantity',    'mean'),
            ('sell_trade_quantity',  'median'),
            ('sell_trade_quantity',     'std'),
            ('sell_trade_quantity',     'min'),
            ('sell_trade_quantity',     'max'),
            ('sell_trade_quantity',   'first'),
            ('sell_trade_quantity',    'last'),
            (              'count',   'count'),
            (              'price',   'price')],
           names=['timestamp_second', None])

In [36]:
lobs = pd.DataFrame(index = data.index)
lobs.head()

Empty DataFrame
Columns: []
Index: [2022-12-01 00:00:00, 2022-12-01 00:00:01, 2022-12-01 00:00:02, 2022-12-01 00:00:03, 2022-12-01 00:00:04]

In [37]:
for i in range(5):
    lobs[f'ask_price_{i}'] = data[f'ask_price_{i}']['last'] 
    lobs[f'ask_vol_{i}'] = data[f'ask_quantity_{i}']['last'] 
    lobs[f'bid_price_{i}'] = data[f'bid_price_{i}']['last'] 
    lobs[f'bid_vol_{i}'] = data[f'bid_quantity_{i}']['last'] 
lobs

,ask_price_0,ask_vol_0,bid_price_0,bid_vol_0,ask_price_1,ask_vol_1,bid_price_1,bid_vol_1,ask_price_2,ask_vol_2,bid_price_2,bid_vol_2,ask_price_3,ask_vol_3,bid_price_3,bid_vol_3,ask_price_4,ask_vol_4,bid_price_4,bid_vol_4
2022-12-01 00:00:00,44.249,30.5,44.190,5.9,44.251,10.0,44.188,30.5,44.261,30.5,44.186,60.3,44.265,63.2,44.173,30.5,44.271,155.0,44.172,43.2
2022-12-01 00:00:01,44.249,30.5,44.190,5.9,44.265,63.2,44.188,30.5,44.271,155.0,44.186,60.3,44.277,15.0,44.173,30.5,44.285,32.4,44.172,43.2
2022-12-01 00:00:02,44.249,30.5,44.186,60.3,44.265,63.2,44.173,30.5,44.271,155.0,44.154,64.6,44.285,32.4,44.126,155.0,44.287,32.6,44.123,193.9
2022-12-01 00:00:03,44.224,30.5,44.188,30.5,44.256,10.0,44.187,5.9,44.257,90.0,44.184,353.3,44.265,225.2,44.166,60.3,44.268,39.7,44.154,64.6
2022-12-01 00:00:04,44.253,46.8,44.219,366.4,44.254,30.5,44.188,30.5,44.255,5.9,44.187,5.9,44.256,70.3,44.184,353.3,44.257,90.0,44.166,60.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-12-16 01:06:35,30.822,60.0,30.777,60.0,30.823,90.5,30.766,90.5,30.830,260.0,30.730,161.9,30.849,41.4,30.727,288.7,30.850,148.0,30.725,2041.0
2022-12-16 01:06:36,30.822,60.0,30.777,60.0,30.823,90.5,30.766,90.5,30.825,41.6,30.755,65.9,30.830,260.0,30.752,260.0,30.841,47.6,30.731,42.9
2022-12-16 01:06:37,30.841,60.0,30.783,18.5,30.849,41.4,30.782,60.0,30.850,148.0,30.781,90.5,30.852,161.9,30.777,60.0,30.854,260.0,30.773,260.0
2022-12-16 01:06:38,30.841,60.0,30.793,260.0,30.850,148.0,30.789,65.9,30.852,161.9,30.788,60.0,30.854,260.0,30.787,188.7,30.873,406.0,30.786,90.0
2022-12-16 01:06:39,30.849,60.0,30.810,78.5,30.850,148.0,30.807,172.4,30.854,260.0,30.806,90.5,30.873,406.0,30.800,65.9,30.879,43.9,30.795,193.6

In [38]:
lobs.reset_index(inplace = True)
lobs.head()

,index,ask_price_0,ask_vol_0,bid_price_0,bid_vol_0,ask_price_1,ask_vol_1,bid_price_1,bid_vol_1,ask_price_2,...,bid_price_2,bid_vol_2,ask_price_3,ask_vol_3,bid_price_3,bid_vol_3,ask_price_4,ask_vol_4,bid_price_4,bid_vol_4
0,2022-12-01 00:00:00,44.249,30.5,44.190,5.9,44.251,10.0,44.188,30.5,44.261,...,44.186,60.3,44.265,63.2,44.173,30.5,44.271,155.0,44.172,43.2
1,2022-12-01 00:00:01,44.249,30.5,44.190,5.9,44.265,63.2,44.188,30.5,44.271,...,44.186,60.3,44.277,15.0,44.173,30.5,44.285,32.4,44.172,43.2
2,2022-12-01 00:00:02,44.249,30.5,44.186,60.3,44.265,63.2,44.173,30.5,44.271,...,44.154,64.6,44.285,32.4,44.126,155.0,44.287,32.6,44.123,193.9
3,2022-12-01 00:00:03,44.224,30.5,44.188,30.5,44.256,10.0,44.187,5.9,44.257,...,44.184,353.3,44.265,225.2,44.166,60.3,44.268,39.7,44.154,64.6
4,2022-12-01 00:00:04,44.253,46.8,44.219,366.4,44.254,30.5,44.188,30.5,44.255,...,44.187,5.9,44.256,70.3,44.184,353.3,44.257,90.0,44.166,60.3

In [11]:
lobs.columns

Index(['index', 'ask_price_0', 'ask_vol_0', 'bid_price_0', 'bid_vol_0',
       'ask_price_1', 'ask_vol_1', 'bid_price_1', 'bid_vol_1', 'ask_price_2',
       'ask_vol_2', 'bid_price_2', 'bid_vol_2', 'ask_price_3', 'ask_vol_3',
       'bid_price_3', 'bid_vol_3', 'ask_price_4', 'ask_vol_4', 'bid_price_4',
       'bid_vol_4'],
      dtype='object')

In [39]:
lobs = lobs.rename(columns = {'index': 'receive_ts'})
lobs.head()

,receive_ts,ask_price_0,ask_vol_0,bid_price_0,bid_vol_0,ask_price_1,ask_vol_1,bid_price_1,bid_vol_1,ask_price_2,...,bid_price_2,bid_vol_2,ask_price_3,ask_vol_3,bid_price_3,bid_vol_3,ask_price_4,ask_vol_4,bid_price_4,bid_vol_4
0,2022-12-01 00:00:00,44.249,30.5,44.190,5.9,44.251,10.0,44.188,30.5,44.261,...,44.186,60.3,44.265,63.2,44.173,30.5,44.271,155.0,44.172,43.2
1,2022-12-01 00:00:01,44.249,30.5,44.190,5.9,44.265,63.2,44.188,30.5,44.271,...,44.186,60.3,44.277,15.0,44.173,30.5,44.285,32.4,44.172,43.2
2,2022-12-01 00:00:02,44.249,30.5,44.186,60.3,44.265,63.2,44.173,30.5,44.271,...,44.154,64.6,44.285,32.4,44.126,155.0,44.287,32.6,44.123,193.9
3,2022-12-01 00:00:03,44.224,30.5,44.188,30.5,44.256,10.0,44.187,5.9,44.257,...,44.184,353.3,44.265,225.2,44.166,60.3,44.268,39.7,44.154,64.6
4,2022-12-01 00:00:04,44.253,46.8,44.219,366.4,44.254,30.5,44.188,30.5,44.255,...,44.187,5.9,44.256,70.3,44.184,353.3,44.257,90.0,44.166,60.3

In [40]:
lobs['exchange_ts'] = lobs['receive_ts']
lobs.head()

,receive_ts,ask_price_0,ask_vol_0,bid_price_0,bid_vol_0,ask_price_1,ask_vol_1,bid_price_1,bid_vol_1,ask_price_2,...,bid_vol_2,ask_price_3,ask_vol_3,bid_price_3,bid_vol_3,ask_price_4,ask_vol_4,bid_price_4,bid_vol_4,exchange_ts
0,2022-12-01 00:00:00,44.249,30.5,44.190,5.9,44.251,10.0,44.188,30.5,44.261,...,60.3,44.265,63.2,44.173,30.5,44.271,155.0,44.172,43.2,2022-12-01 00:00:00
1,2022-12-01 00:00:01,44.249,30.5,44.190,5.9,44.265,63.2,44.188,30.5,44.271,...,60.3,44.277,15.0,44.173,30.5,44.285,32.4,44.172,43.2,2022-12-01 00:00:01
2,2022-12-01 00:00:02,44.249,30.5,44.186,60.3,44.265,63.2,44.173,30.5,44.271,...,64.6,44.285,32.4,44.126,155.0,44.287,32.6,44.123,193.9,2022-12-01 00:00:02
3,2022-12-01 00:00:03,44.224,30.5,44.188,30.5,44.256,10.0,44.187,5.9,44.257,...,353.3,44.265,225.2,44.166,60.3,44.268,39.7,44.154,64.6,2022-12-01 00:00:03
4,2022-12-01 00:00:04,44.253,46.8,44.219,366.4,44.254,30.5,44.188,30.5,44.255,...,5.9,44.256,70.3,44.184,353.3,44.257,90.0,44.166,60.3,2022-12-01 00:00:04

In [41]:
lobs.to_csv('lobs.csv', index = False)

In [42]:
trades = pd.DataFrame(data = {'receive_ts': lobs.receive_ts, 'exchange_ts': lobs.exchange_ts})
trades.head()

           receive_ts         exchange_ts
0 2022-12-01 00:00:00 2022-12-01 00:00:00
1 2022-12-01 00:00:01 2022-12-01 00:00:01
2 2022-12-01 00:00:02 2022-12-01 00:00:02
3 2022-12-01 00:00:03 2022-12-01 00:00:03
4 2022-12-01 00:00:04 2022-12-01 00:00:04

In [43]:
trades

                 receive_ts         exchange_ts
0       2022-12-01 00:00:00 2022-12-01 00:00:00
1       2022-12-01 00:00:01 2022-12-01 00:00:01
2       2022-12-01 00:00:02 2022-12-01 00:00:02
3       2022-12-01 00:00:03 2022-12-01 00:00:03
4       2022-12-01 00:00:04 2022-12-01 00:00:04
...                     ...                 ...
1299995 2022-12-16 01:06:35 2022-12-16 01:06:35
1299996 2022-12-16 01:06:36 2022-12-16 01:06:36
1299997 2022-12-16 01:06:37 2022-12-16 01:06:37
1299998 2022-12-16 01:06:38 2022-12-16 01:06:38
1299999 2022-12-16 01:06:39 2022-12-16 01:06:39

[1300000 rows x 2 columns]

In [44]:
data.reset_index(inplace = True)
data.head()

timestamp_second               index bid_price_0                      \
                                         nunique       mean   median
0                2022-12-01 00:00:00           7  44.183379  44.1865
1                2022-12-01 00:00:01           1  44.190000  44.1900
2                2022-12-01 00:00:02           3  44.187467  44.1860
3                2022-12-01 00:00:03           3  44.181038  44.1860
4                2022-12-01 00:00:04           2  44.213095  44.2190

timestamp_second                                           bid_quantity_0  \
                       std     min     max   first    last            sum
0                 0.007340  44.171  44.190  44.171  44.190        25880.7
1                 0.000000  44.190  44.190  44.190  44.190           76.7
2                 0.001767  44.186  44.190  44.190  44.186          597.5
3                 0.006993  44.173  44.188  44.186  44.188         2062.8
4                 0.012474  44.188  44.219  44.188  44.219         6350.8

timestamp_second  ... sell_trade_quantity                                     \
                  ...             nunique mean median std min max first last
0                 ...                   0  NaN    NaN NaN NaN NaN   NaN  NaN
1                 ...                   0  NaN    NaN NaN NaN NaN   NaN  NaN
2                 ...                   0  NaN    NaN NaN NaN NaN   NaN  NaN
3                 ...                   0  NaN    NaN NaN NaN NaN   NaN  NaN
4                 ...                   0  NaN    NaN NaN NaN NaN   NaN  NaN

timestamp_second count    price
                 count    price
0                   66  44.2005
1                   13  44.2195
2                   15  44.2195
3                   52  44.2175
4                   21  44.2060

[5 rows x 211 columns]

In [45]:
data = data.rename(columns = {'index': 'receive_ts'})
data.head()

timestamp_second          receive_ts bid_price_0                      \
                                         nunique       mean   median
0                2022-12-01 00:00:00           7  44.183379  44.1865
1                2022-12-01 00:00:01           1  44.190000  44.1900
2                2022-12-01 00:00:02           3  44.187467  44.1860
3                2022-12-01 00:00:03           3  44.181038  44.1860
4                2022-12-01 00:00:04           2  44.213095  44.2190

timestamp_second                                           bid_quantity_0  \
                       std     min     max   first    last            sum
0                 0.007340  44.171  44.190  44.171  44.190        25880.7
1                 0.000000  44.190  44.190  44.190  44.190           76.7
2                 0.001767  44.186  44.190  44.190  44.186          597.5
3                 0.006993  44.173  44.188  44.186  44.188         2062.8
4                 0.012474  44.188  44.219  44.188  44.219         6350.8

timestamp_second  ... sell_trade_quantity                                     \
                  ...             nunique mean median std min max first last
0                 ...                   0  NaN    NaN NaN NaN NaN   NaN  NaN
1                 ...                   0  NaN    NaN NaN NaN NaN   NaN  NaN
2                 ...                   0  NaN    NaN NaN NaN NaN   NaN  NaN
3                 ...                   0  NaN    NaN NaN NaN NaN   NaN  NaN
4                 ...                   0  NaN    NaN NaN NaN NaN   NaN  NaN

timestamp_second count    price
                 count    price
0                   66  44.2005
1                   13  44.2195
2                   15  44.2195
3                   52  44.2175
4                   21  44.2060

[5 rows x 211 columns]

In [18]:
data

timestamp_second               index bid_price_0                      \
                                         nunique       mean   median
0                2022-12-01 00:00:00           7  44.183379  44.1865
1                2022-12-01 00:00:01           1  44.190000  44.1900
2                2022-12-01 00:00:02           3  44.187467  44.1860
3                2022-12-01 00:00:03           3  44.181038  44.1860
4                2022-12-01 00:00:04           2  44.213095  44.2190
...                              ...         ...        ...      ...
1299995          2022-12-16 01:06:35           1  30.777000  30.7770
1299996          2022-12-16 01:06:36           1  30.777000  30.7770
1299997          2022-12-16 01:06:37           5  30.780052  30.7810
1299998          2022-12-16 01:06:38           8  30.786015  30.7860
1299999          2022-12-16 01:06:39           7  30.804518  30.8065

timestamp_second                                           bid_quantity_0  \
                       std     min     max   first    last            sum
0                 0.007340  44.171  44.190  44.171  44.190        25880.7
1                 0.000000  44.190  44.190  44.190  44.190           76.7
2                 0.001767  44.186  44.190  44.190  44.186          597.5
3                 0.006993  44.173  44.188  44.186  44.188         2062.8
4                 0.012474  44.188  44.219  44.188  44.219         6350.8
...                    ...     ...     ...     ...     ...            ...
1299995           0.000000  30.777  30.777  30.777  30.777         1320.0
1299996           0.000000  30.777  30.777  30.777  30.777         1020.0
1299997           0.002787  30.777  30.784  30.777  30.783         8198.8
1299998           0.003217  30.782  30.793  30.783  30.793         8922.4
1299999           0.005831  30.793  30.810  30.793  30.810         4273.0

timestamp_second  ... sell_trade_quantity                                     \
                  ...             nunique mean median std min max first last
0                 ...                   0  NaN    NaN NaN NaN NaN   NaN  NaN
1                 ...                   0  NaN    NaN NaN NaN NaN   NaN  NaN
2                 ...                   0  NaN    NaN NaN NaN NaN   NaN  NaN
3                 ...                   0  NaN    NaN NaN NaN NaN   NaN  NaN
4                 ...                   0  NaN    NaN NaN NaN NaN   NaN  NaN
...               ...                 ...  ...    ...  ..  ..  ..   ...  ...
1299995           ...                   0  NaN    NaN NaN NaN NaN   NaN  NaN
1299996           ...                   0  NaN    NaN NaN NaN NaN   NaN  NaN
1299997           ...                   0  NaN    NaN NaN NaN NaN   NaN  NaN
1299998           ...                   0  NaN    NaN NaN NaN NaN   NaN  NaN
1299999           ...                   0  NaN    NaN NaN NaN NaN   NaN  NaN

timestamp_second count    price
                 count    price
0                   66  44.2005
1                   13  44.2195
2                   15  44.2195
3                   52  44.2175
4                   21  44.2060
...                ...      ...
1299995             22  30.7995
1299996             17  30.7995
1299997             58  30.7995
1299998             67  30.8120
1299999             56  30.8170

[1300000 rows x 211 columns]

In [20]:
data.buy_trade_price

         count  nunique    mean  median  std     min     max   first    last
0            1        1  44.213  44.213  NaN  44.213  44.213  44.213  44.213
1            0        0     NaN     NaN  NaN     NaN     NaN     NaN     NaN
2            0        0     NaN     NaN  NaN     NaN     NaN     NaN     NaN
3            1        1  44.226  44.226  NaN  44.226  44.226  44.226  44.226
4            0        0     NaN     NaN  NaN     NaN     NaN     NaN     NaN
...        ...      ...     ...     ...  ...     ...     ...     ...     ...
1299995      0        0     NaN     NaN  NaN     NaN     NaN     NaN     NaN
1299996      0        0     NaN     NaN  NaN     NaN     NaN     NaN     NaN
1299997      0        0     NaN     NaN  NaN     NaN     NaN     NaN     NaN
1299998      0        0     NaN     NaN  NaN     NaN     NaN     NaN     NaN
1299999      0        0     NaN     NaN  NaN     NaN     NaN     NaN     NaN

[1300000 rows x 9 columns]

In [46]:
buy_trades = pd.DataFrame(data = {'receive_ts': data.receive_ts, 'exchange_ts': data.receive_ts, 'aggro_side': 'ASK', 'price': data.buy_trade_price['mean'],'size': data.buy_trade_quantity['sum']})
buy_trades

                 receive_ts         exchange_ts aggro_side   price  size
0       2022-12-01 00:00:00 2022-12-01 00:00:00        ASK  44.213  30.5
1       2022-12-01 00:00:01 2022-12-01 00:00:01        ASK     NaN   0.0
2       2022-12-01 00:00:02 2022-12-01 00:00:02        ASK     NaN   0.0
3       2022-12-01 00:00:03 2022-12-01 00:00:03        ASK  44.226  30.9
4       2022-12-01 00:00:04 2022-12-01 00:00:04        ASK     NaN   0.0
...                     ...                 ...        ...     ...   ...
1299995 2022-12-16 01:06:35 2022-12-16 01:06:35        ASK     NaN   0.0
1299996 2022-12-16 01:06:36 2022-12-16 01:06:36        ASK     NaN   0.0
1299997 2022-12-16 01:06:37 2022-12-16 01:06:37        ASK     NaN   0.0
1299998 2022-12-16 01:06:38 2022-12-16 01:06:38        ASK     NaN   0.0
1299999 2022-12-16 01:06:39 2022-12-16 01:06:39        ASK     NaN   0.0

[1300000 rows x 5 columns]

In [47]:
buy_trades.dropna(inplace = True)
buy_trades

                 receive_ts         exchange_ts aggro_side    price   size
0       2022-12-01 00:00:00 2022-12-01 00:00:00        ASK  44.2130   30.5
3       2022-12-01 00:00:03 2022-12-01 00:00:03        ASK  44.2260   30.9
105     2022-12-01 00:01:45 2022-12-01 00:01:45        ASK  44.2060   63.8
283     2022-12-01 00:04:43 2022-12-01 00:04:43        ASK  44.1540   83.2
288     2022-12-01 00:04:48 2022-12-01 00:04:48        ASK  44.2180  124.0
...                     ...                 ...        ...      ...    ...
1299923 2022-12-16 01:05:23 2022-12-16 01:05:23        ASK  30.7705  102.2
1299924 2022-12-16 01:05:24 2022-12-16 01:05:24        ASK  30.8000    5.0
1299932 2022-12-16 01:05:32 2022-12-16 01:05:32        ASK  30.8080   51.1
1299959 2022-12-16 01:05:59 2022-12-16 01:05:59        ASK  30.7440  108.7
1299993 2022-12-16 01:06:33 2022-12-16 01:06:33        ASK  30.7740  148.0

[30712 rows x 5 columns]

In [48]:
sell_trades = pd.DataFrame(data = {'receive_ts': data.receive_ts, 'exchange_ts': data.receive_ts, 'aggro_side': 'BID', 'price': data.sell_trade_price['mean'],'size': data.sell_trade_quantity['sum']})
sell_trades

                 receive_ts         exchange_ts aggro_side  price  size
0       2022-12-01 00:00:00 2022-12-01 00:00:00        BID    NaN   0.0
1       2022-12-01 00:00:01 2022-12-01 00:00:01        BID    NaN   0.0
2       2022-12-01 00:00:02 2022-12-01 00:00:02        BID    NaN   0.0
3       2022-12-01 00:00:03 2022-12-01 00:00:03        BID    NaN   0.0
4       2022-12-01 00:00:04 2022-12-01 00:00:04        BID    NaN   0.0
...                     ...                 ...        ...    ...   ...
1299995 2022-12-16 01:06:35 2022-12-16 01:06:35        BID    NaN   0.0
1299996 2022-12-16 01:06:36 2022-12-16 01:06:36        BID    NaN   0.0
1299997 2022-12-16 01:06:37 2022-12-16 01:06:37        BID    NaN   0.0
1299998 2022-12-16 01:06:38 2022-12-16 01:06:38        BID    NaN   0.0
1299999 2022-12-16 01:06:39 2022-12-16 01:06:39        BID    NaN   0.0

[1300000 rows x 5 columns]

In [49]:
sell_trades.dropna(inplace = True)
sell_trades

                 receive_ts         exchange_ts aggro_side      price    size
6       2022-12-01 00:00:06 2022-12-01 00:00:06        BID  44.219000   200.0
106     2022-12-01 00:01:46 2022-12-01 00:01:46        BID  44.188667  2000.0
324     2022-12-01 00:05:24 2022-12-01 00:05:24        BID  44.250000   100.0
325     2022-12-01 00:05:25 2022-12-01 00:05:25        BID  44.250000   100.0
326     2022-12-01 00:05:26 2022-12-01 00:05:26        BID  44.250000   200.0
...                     ...                 ...        ...        ...     ...
1299816 2022-12-16 01:03:36 2022-12-16 01:03:36        BID  30.726000    90.5
1299842 2022-12-16 01:04:02 2022-12-16 01:04:02        BID  30.865500   160.1
1299860 2022-12-16 01:04:20 2022-12-16 01:04:20        BID  30.720000    90.5
1299925 2022-12-16 01:05:25 2022-12-16 01:05:25        BID  30.789000    90.5
1299980 2022-12-16 01:06:20 2022-12-16 01:06:20        BID  30.756667   176.8

[29845 rows x 5 columns]

In [50]:
trades = pd.concat([buy_trades, sell_trades])
trades.head()

             receive_ts         exchange_ts aggro_side   price   size
0   2022-12-01 00:00:00 2022-12-01 00:00:00        ASK  44.213   30.5
3   2022-12-01 00:00:03 2022-12-01 00:00:03        ASK  44.226   30.9
105 2022-12-01 00:01:45 2022-12-01 00:01:45        ASK  44.206   63.8
283 2022-12-01 00:04:43 2022-12-01 00:04:43        ASK  44.154   83.2
288 2022-12-01 00:04:48 2022-12-01 00:04:48        ASK  44.218  124.0

In [52]:
trades = trades.sort_values(by = ['receive_ts'])
trades.head()

             receive_ts         exchange_ts aggro_side      price    size
0   2022-12-01 00:00:00 2022-12-01 00:00:00        ASK  44.213000    30.5
3   2022-12-01 00:00:03 2022-12-01 00:00:03        ASK  44.226000    30.9
6   2022-12-01 00:00:06 2022-12-01 00:00:06        BID  44.219000   200.0
105 2022-12-01 00:01:45 2022-12-01 00:01:45        ASK  44.206000    63.8
106 2022-12-01 00:01:46 2022-12-01 00:01:46        BID  44.188667  2000.0

In [53]:
trades.to_csv('trades.csv', index = False)

In [54]:
lobs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1300000 entries, 0 to 1299999
Data columns (total 22 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   receive_ts   1300000 non-null  datetime64[ns]
 1   ask_price_0  1300000 non-null  float64
 2   ask_vol_0    1300000 non-null  float64
 3   bid_price_0  1300000 non-null  float64
 4   bid_vol_0    1300000 non-null  float64
 5   ask_price_1  1300000 non-null  float64
 6   ask_vol_1    1300000 non-null  float64
 7   bid_price_1  1300000 non-null  float64
 8   bid_vol_1    1300000 non-null  float64
 9   ask_price_2  1300000 non-null  float64
 10  ask_vol_2    1300000 non-null  float64
 11  bid_price_2  1300000 non-null  float64
 12  bid_vol_2    1300000 non-null  float64
 13  ask_price_3  1300000 non-null  float64
 14  ask_vol_3    1300000 non-null  float64
 15  bid_price_3  1300000 non-null  float64
 16  bid_vol_3    1300000 non-null  float64
 17  ask_price_4  1300000 non-null  float64
 18  ask_vol_4    1300000 non-null  float64
 19  bid_price_4  1300000 non-null  float64
 20  bid_vol_4    1300000 non-null  float64
 21  exchange_ts  1300000 non-null  datetime64[ns]
dtypes: datetime64[ns](2), float64(20)
memory usage: 218.2 MB

In [55]:
lobs['receive_ts'].iloc[0]

Timestamp('2022-12-01 00:00:00')

In [58]:
lobs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1300000 entries, 0 to 1299999
Data columns (total 22 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   receive_ts   1300000 non-null  datetime64[ns]
 1   ask_price_0  1300000 non-null  float64
 2   ask_vol_0    1300000 non-null  float64
 3   bid_price_0  1300000 non-null  float64
 4   bid_vol_0    1300000 non-null  float64
 5   ask_price_1  1300000 non-null  float64
 6   ask_vol_1    1300000 non-null  float64
 7   bid_price_1  1300000 non-null  float64
 8   bid_vol_1    1300000 non-null  float64
 9   ask_price_2  1300000 non-null  float64
 10  ask_vol_2    1300000 non-null  float64
 11  bid_price_2  1300000 non-null  float64
 12  bid_vol_2    1300000 non-null  float64
 13  ask_price_3  1300000 non-null  float64
 14  ask_vol_3    1300000 non-null  float64
 15  bid_price_3  1300000 non-null  float64
 16  bid_vol_3    1300000 non-null  float64
 17  ask_price_4  1300000 non-null  float64
 18  ask_vol_4    1300000 non-null  float64
 19  bid_price_4  1300000 non-null  float64
 20  bid_vol_4    1300000 non-null  float64
 21  exchange_ts  1300000 non-null  datetime64[ns]
dtypes: datetime64[ns](2), float64(20)
memory usage: 218.2 MB

In [57]:
trades.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 60557 entries, 0 to 1299993
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   receive_ts   60557 non-null  datetime64[ns]
 1   exchange_ts  60557 non-null  datetime64[ns]
 2   aggro_side   60557 non-null  object
 3   price        60557 non-null  float64
 4   size         60557 non-null  float64
dtypes: datetime64[ns](2), float64(2), object(1)
memory usage: 2.8+ MB

In [59]:
trades.head()

             receive_ts         exchange_ts aggro_side      price    size
0   2022-12-01 00:00:00 2022-12-01 00:00:00        ASK  44.213000    30.5
3   2022-12-01 00:00:03 2022-12-01 00:00:03        ASK  44.226000    30.9
6   2022-12-01 00:00:06 2022-12-01 00:00:06        BID  44.219000   200.0
105 2022-12-01 00:01:45 2022-12-01 00:01:45        ASK  44.206000    63.8
106 2022-12-01 00:01:46 2022-12-01 00:01:46        BID  44.188667  2000.0

In [61]:
trades.receive_ts = trades.receive_ts.values.astype(np.int64) / 10 ** 9

In [64]:
trades.exchange_ts = trades.exchange_ts.values.astype(np.int64) / 10 ** 9

In [65]:
lobs.receive_ts = lobs.receive_ts.values.astype(np.int64) / 10 ** 9
lobs.exchange_ts = lobs.exchange_ts.values.astype(np.int64) / 10 ** 9

In [66]:
lobs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1300000 entries, 0 to 1299999
Data columns (total 22 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   receive_ts   1300000 non-null  float64
 1   ask_price_0  1300000 non-null  float64
 2   ask_vol_0    1300000 non-null  float64
 3   bid_price_0  1300000 non-null  float64
 4   bid_vol_0    1300000 non-null  float64
 5   ask_price_1  1300000 non-null  float64
 6   ask_vol_1    1300000 non-null  float64
 7   bid_price_1  1300000 non-null  float64
 8   bid_vol_1    1300000 non-null  float64
 9   ask_price_2  1300000 non-null  float64
 10  ask_vol_2    1300000 non-null  float64
 11  bid_price_2  1300000 non-null  float64
 12  bid_vol_2    1300000 non-null  float64
 13  ask_price_3  1300000 non-null  float64
 14  ask_vol_3    1300000 non-null  float64
 15  bid_price_3  1300000 non-null  float64
 16  bid_vol_3    1300000 non-null  float64
 17  ask_price_4  1300000 non-null  float64
 18  ask_vol_4    1300000 non-null  float64
 19  bid_price_4  1300000 non-null  float64
 20  bid_vol_4    1300000 non-null  float64
 21  exchange_ts  1300000 non-null  float64
dtypes: float64(22)
memory usage: 218.2 MB

In [62]:
trades

           receive_ts         exchange_ts aggro_side      price    size
0        1.669853e+09 2022-12-01 00:00:00        ASK  44.213000    30.5
3        1.669853e+09 2022-12-01 00:00:03        ASK  44.226000    30.9
6        1.669853e+09 2022-12-01 00:00:06        BID  44.219000   200.0
105      1.669853e+09 2022-12-01 00:01:45        ASK  44.206000    63.8
106      1.669853e+09 2022-12-01 00:01:46        BID  44.188667  2000.0
...               ...                 ...        ...        ...     ...
1299925  1.671153e+09 2022-12-16 01:05:25        BID  30.789000    90.5
1299932  1.671153e+09 2022-12-16 01:05:32        ASK  30.808000    51.1
1299959  1.671153e+09 2022-12-16 01:05:59        ASK  30.744000   108.7
1299980  1.671153e+09 2022-12-16 01:06:20        BID  30.756667   176.8
1299993  1.671153e+09 2022-12-16 01:06:33        ASK  30.774000   148.0

[60557 rows x 5 columns]